/* คำสั่ง ให้นร.แก้ไขไฟล์ CSS นี้ให้มีหน้าจอแสดงผลสวยงามตามที่โปรแกรมเครื่องคิดเลขควรจะเป็น
    ตัวอย่างสามารถดูได้ในโปรแกรม calculator ใน windows 

    Reference: https://www.w3schools.com/cssref/index.php
*/

/* ส่วนตัวของเว็บ */
body{
    /* ให้ข้อความทุกอย่างจัดอยู่ตรงกลาง */
    text-align: center;
    /* ให้มีกรอบสไตล์ groove */
    border-style: groove;
    /* ให้มีความกว้างอย่างน้อยๆไม่ต่ำกว่า 250 pixels */
    min-width: 250px;
}

/* ส่วนหัวข้อของหน้าเว็บ */
h1{
    /* ตั้งค่าขนาดฟ้อนท์ให้ไม่เล็กกว่า 20 pixels และใหญ่เท่ากับ 20px บวกกับ 3% ของ viewport ฝั่งที่เล็กสุด */
    font-size: calc(20px + 3vmin);
}

/* ส่วนตัวเครื่องคิดเลข */
.calc{
    width: 275px;
    margin: auto;
    margin-bottom: 30px;
    min-height: 400px;
    box-shadow: 0 8px 50px -7px black;
    background: #3A4655;
}

/* ส่วนแสดงผลตัวเลข */
#outputPanel{
    padding: 1rem;
    
}

.inputPanel{
    display: table;
}
.inputPanel input[type = "button"]{
    display: table-cell;
    width: 25%;
    background: #425062;
    color: #fff;
    height: 65px;
    font-size: 1.3rem;
    border: none;
    border-color:#3C4857;
    border-width: 1px 1px 0px 0;
    border-style: solid;
}

.inputPanel input[type = "button"].bt-ops{
    color: #ffbc56;
}

.inputPanel input[type = "button"].bt-clear{
    color: #ff7665;
}
.inputPanel input[type = "button"].bt-del{
    color: #ff7665;
}
.inputPanel input[type = "button"]:nth-child(4n){
    border-right: none;
}
.inputPanel input[type = "button"]:active{
    position: relative;
    top: 1px;
}
.inputPanel input[type = "button"]:hover{
    background: #3e4b5c;
}
#display{
    font-size: 1.3rem;
    text-align: right;
    color: #727B86;
    padding-top: .5rem;
    background-color: #3A4655;
    border: unset;
}

#display_result{
    font-size: 1.25rem;
    text-align: right;
    color: #fff;
    background-color: #3A4655;
    border: unset;
    margin: 10px 0px 15px;

}


